################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PostgreSqlDotnetCore/.vs/PostgreSqlDotnetCore/v16
/PostgreSqlDotnetCore/PostgreSql.Business/obj
/PostgreSqlDotnetCore/PostgreSql.Business.DataAccess/obj
/PostgreSqlDotnetCore/PostgreSql.Core/bin/Debug/netcoreapp3.1
/PostgreSqlDotnetCore/PostgreSql.Core/obj
/PostgreSqlDotnetCore/PostgreSql.Entities/obj
/PostgreSqlDotnetCore/PostgreSql.DataAccess/obj
