################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PostgreSqlDotnetCore/.vs/PostgreSqlDotnetCore/v16
